<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.b0ne.app.helpline" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.b0ne.app.helpline.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="me.b0ne.app.helpline.activities.Mainpage">

        </activity>


        <activity android:name="me.b0ne.app.helpline.activities.FABActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="me.b0ne.app.helpline.activities.Mainpage">

            </meta-data>
    </activity>

    <activity android:name="me.b0ne.app.helpline.activities.Bank">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="me.b0ne.app.helpline.activities.Mainpage">

        </meta-data>
</activity>

<activity android:name="me.b0ne.app.helpline.activities.Broadband">
    <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="me.b0ne.app.helpline.activities.Mainpage">

    </meta-data>  </activity>

<activity android:name="me.b0ne.app.helpline.activities.DTH">
    <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="me.b0ne.app.helpline.activities.Mainpage">

    </meta-data> </activity>

<activity android:name="me.b0ne.app.helpline.activities.eshoppers">
    <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="me.b0ne.app.helpline.activities.Mainpage">

    </meta-data> </activity>

<activity android:name="me.b0ne.app.helpline.activities.Mobile">
    <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="me.b0ne.app.helpline.activities.Mainpage">

    </meta-data>

</activity>

<activity android:name="me.b0ne.app.helpline.activities.Mobilenetworks">
</activity>
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="me.b0ne.app.helpline.activities.Mainpage">

        </meta-data>

<activity android:name="me.b0ne.app.helpline.activities.socialgovt">
</activity>
<activity android:name="me.b0ne.app.helpline.activities.about">
<meta-data android:name="android.support.PARENT_ACTIVITY" android:value="me.b0ne.app.helpline.activities.Mainpage">

</meta-data>
</activity>
</application>
</manifest>
